body {
    /* background-color: #EFEBE9; */
    background-color: black;
    font-family: sans-serif;
}
body > h1 {
    color: white
}
input[type="submit"] {
    background-color: green;
    border-radius: 3px;
    color: white;
    border: green;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin: auto;
}
#search {
    flex: 1;
    border-radius: 3px;
    border: green;
    margin-right: 2%;
}
.search-bar {
    border: 1px solid green;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    width: 30%;
    background-color: white;
    margin: auto;
}
h1 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
.head {
    display: flex;
    border-bottom: 1px solid gray;
}
.search-types {
    text-align: center;
    margin-top: 1.5%;
    color: white;
}

.results {
    display: grid;
    column-gap: 2%;
    justify-content: center;
    padding-bottom: 5px;
}

.results > div > img{
    align-self: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .results {
        grid-template-columns: 200px;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 20px;
        
    }
    .search-bar {
        padding-right: 10px;
        width: 50%;
    }
}

@media only screen and (min-width: 601px) {
    .results {
        grid-template-columns: 200px 200px;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 20px;
    }
    .search-bar {
        padding-right: 10px;
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .results {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
    } 
    .search-bar {
        padding-right: 5px;
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .results {
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: auto auto;
        row-gap: 20px;
    }
    .search-bar {
        width: 30%;
    }
}


